* {
  box-sizing: border-box;
}

#about p {
  font-family: 'Bellefair', 'Helvetica', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1% 0;
  background-color: #111111;
  opacity: 0.95;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
}
a:visited {
  color: white;
}

a:active {
  /* background-color: #001f3f; */

  color: #001f3f;
}
a:focus {
  /* background-color: #001f3f; */
  color: grey;
}
a:hover {
  /* background-color: #001f3f; */
  color: grey;
}

.wrapper {
  overflow: hidden;
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  position: fixed;
  background-color: rgba(47, 85, 114, 0.3);
  padding: 10px 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  transition: background-color 0.3s ease-out;
}

.navigation-container-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navigation-container-list li {
  display: inline;
}

.navigation-container-list ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  color: #fff;
  background-color: #036;
}

.navigation-container-list ul li a:hover {
  color: #fff;
  background-color: #369;
}

header {
  padding: 0;
}

section {
  min-height: 200px;
  max-height: auto;
  padding: 1% 12% 1% 12%;
  margin: 10px;
  background-color: #1d1d1d;
  border: 1px solid;
  overflow: hidden;
}

section h2 {
  color: #faebd7;
}

section:nth-child(even) {
  background-color: white;
  /* margin: 0; */
}
section:nth-child(even) h2 {
  color: #444;
}

.hamburger {
  display: none;
}
.cross {
  display: none;
}

.menu-mobile {
  display: none;
}

.hidden {
  display: none;
}

.header-background {
  position: relative;
  background: black;
  overflow: hidden;
  height: 100vh;
}
.header-background:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  opacity: 0.3;
  background-image: url(assets/header-background-image-min2.jpeg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.header-background h1 {
  /* padding: 45px; */
  margin: 0;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
}
.header-background-text {
  position: relative;
  top: 42%;
}

.header .section-container {
  width: 40%;
  margin: auto;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 5px 5px #2f5572;
}

/* Unique to About CSS below */
.about-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2%;
  padding-top: 2%;
}

.section-half-left {
  float: left;
}

.section-half-right {
  padding-top: 10px;
  margin-left: 5px;
}

.h2-style {
  padding-top: 15px;
}
.image-container_about-image {
  display: block;
  min-width: 500px;
  min-height: 280px;
  object-fit: cover;
  overflow: hidden;
  max-width: 250px;
  max-height: 135px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 10px 18px #888888;
}

.image-container_about-image img {
  width: 100%;
  height: 100%;
}
/* About CSS above */

/* Unique to Projects section below */

#projects h2 {
  color: white;
  margin-top: 35px;
}
section#projects p {
  color: white;
  margin-top: 35px;
}

section#projects a {
  color: white;
}

#projects {
  padding: 0;
}
.projects-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 2% 0%;
  /* border: 2px solid; */
}

.single-project-container {
  display: inline-block;
  /* border: 2px solid; */
  border-right: 2px solid;

  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  max-height: 450px;
}

.single-project-container:last-child {
  border-right: none;
}
/* Unique to Projects section above */

/* Unique to Contacts below here */

.contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-list li {
  display: inline;
  padding: 5px 20px;
}
#contact h2 {
  margin-bottom: 0;
}

/* Unique to Contacts above here */

.section-container h2 {
  color: #001f3f;
  max-width: 1200px;
}

.image-container {
  max-width: 250px;
  max-height: 135px;
  min-height: 231px;
  /* padding: 11px 0px; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  margin-bottom: 11px;
  object-fit: cover;
  overflow: hidden;
}

.about-image {
  box-shadow: 5px 10px 18px #888888;
}

.image-container img {
  width: 100%;
  height: 100%;
}

p {
  color: #001f3f;
}
.section-container-projects {
  max-width: 100%;
  margin: 35px;
  /* padding: 5px; */
  border-style: solid;
  border-width: 1px;
  /* border-color: darkgrey; */
  border-radius: 3px;
}

.section-container-projects-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-container-project {
  display: inline-block;
  border-style: none;
  border-radius: 15px;
  background-color: #1d1d1d;
  padding: 55px;
  padding-bottom: 20px;
  margin: 5px;
  margin-bottom: 40px;
  box-shadow: 5px 5px;
  width: 33%;
}

.section-container-project p,
span,
a {
  color: white;
}

#c2 {
  /* margin-left: 20px;
	margin-right: 20px; */
}

.section-container-project p {
  max-height: 85px;
  min-height: 85px;
}

.section-container-project-link {
  margin-bottom: 15px;
}

.section-container-project-link a {
  text-decoration: underline;
}

#c1,
#c2 {
  max-width: 32%; // 1/3 of 100%
}

#c3 {
  /* width: auto; */
  max-width: 32%;
}

footer p {
  color: grey;
  line-height: 0px;
  padding: 0;
  margin: 15px;
}
