/*                                                              */
/* /////////       Media Queries     ///////////  */
/*
  Testing new branch                              */
/*  Max width was 1098*/
@media only screen and (max-width: 1083px) and (min-width: 743px) {
  .section-container-project p {
    margin-bottom: 45px;
  }
  .section-container-projects {
    width: 90%;
    margin: auto;
  }
  .section-container-project {
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
    min-width: 45%;
    min-height: 100px;
  }

  .section-container-project-link {
  }

  .about-container p {
    margin-top: 0;
  }
  .single-project-container:last-child {
    margin-top: 50px;
    border-top: 2px solid;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
  }
  #petfinder-app {
    border-right: none;
  }
}

@media only screen and (max-width: 743px) and (min-width: 643px) {
  .single-project-container {
    border: none;
    margin-bottom: 40px;
    padding-bottom: 70px;
  }
  .single-project-container:last-child {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media only screen and (max-width: 643px) {
  .image-container_about-image {
    display: block;
    object-fit: cover;
    overflow: hidden;
    max-width: 250px;
    max-height: 135px;
    min-width: 250px;
    min-height: 135px;
    margin-bottom: 10px;
  }
  .navigation-container {
    padding: 30px;
  }
  .navigation-container-list {
    display: none;
  }
  .hamburger {
    display: block;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }
  .cross {
    display: block;
    background: none;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px 15px 0px 15px;
    color: #999;
    border: 0;
    font-size: 3em;
    line-height: 65px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }

  .menu-mobile {
    display: block;
  }
  .menu-mobile-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  #about h2 {
    margin-top: 40px;
  }

  #projects h2 {
    color: white;
    margin-top: 47px;
  }
  .menu-mobile-list li:not(:last-child) {
    text-decoration: none;
    padding: 5px;
    color: white;
    margin: 10px;
  }

  .menu-mobile-list li a:hover {
    color: white;
  }
  .section-container {
    width: 90%;
    margin: auto;
  }
  .section-container-projects {
    width: 90%;
    margin: auto;
  }
  .section-container-project {
    display: block;
    margin: 15px;
    min-width: 95%;
    min-height: 100px;
  }

  .section-container-project p {
    margin-bottom: 30px;
  }

  #c1,
  #c2,
  #c3 {
    width: 90%;
  }

  .section-half-left {
    float: none;
  }

  .about-container {
    padding-bottom: 13%;
  }
  .about-container p {
    margin-top: 0;
  }

  .projects-container {
    border: none;
    padding: 0;
  }

  .single-project-container {
    border: none;
    border-right: none;
    max-width: 300px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .single-project-container:first-child {
    margin-top: 0;
  }

  .single-project-container:last-child {
    border-bottom: none;
  }

  .single-project-container:not(:first-child) {
    margin-top: 20px;
  }

  .single-project-container:not(:last-child) {
    padding-bottom: 30px;
  }

  .section-container-project-link {
    padding-top: 0;
  }
  .contact-list li {
    display: block;
  }
}
