/* Force scrollbars onto browser window */

/* Box styles */
.myBox {
  border: none;
  /* padding: 5px; */
  font: 24px/36px sans-serif;
  width: 95%;
  height: 500px;
  overflow: scroll;
}

/* Scrollbar styles */
.myBox::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.myBox::-webkit-scrollbar-track {
  border: 1px solid yellowgreen;
  border-radius: 10px;
}

.myBox::-webkit-scrollbar-thumb {
  background: yellowgreen;
  border-radius: 10px;
}

.myBox::-webkit-scrollbar-thumb:hover {
  background: #88ba1c;
}

.left.clear-fix {
  text-align: center;
}

@media only screen and (max-width: 1712px) {
  .left.clear-fix {
    padding-left: 20%;
    padding-right: 30%;
  }
}
